name: Publish to Crates.io

on:
  workflow_dispatch:  # Allow manual triggers
  push:
    # Publish `v1.2.3` tags as releases.
    tags:
      - v*

jobs:
  # Pack Extension and Upload
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - uses: katyo/publish-crates@v2
        with:
            registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
            ignore-unpublished-changes: true
